h3 {
  border: 2px solid white;
  padding: 5px;
  text-align: center;
}

.comment-list {
  position: relative;
  height: 50%;
  overflow: hidden;

  &:hover {
    overflow-y: scroll;
  }

}

.comment-card {
  background-color: darkblue;
  padding: 10px;
  margin: 5px;

  p {
    color: white;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  p:nth-of-type(2n) {
    font-size: .7rem;
  }

  .update-comment-button, .delete-comment-button {
    width: 100%;
    margin-top: 10px;
    visibility: hidden;
  }

  &:hover .update-comment-button  {
    visibility: visible;
    background-color: #3f6eaf;
    border: 1px solid white;
    padding: 10px;
    color: white;

    &:hover {
      background-color: #0081ff;
    }
  }

  &:hover .delete-comment-button  {
    visibility: visible;
    background-color: darkred;
    border: 1px solid white;
    padding: 10px;
    color: white;

    &:hover {
      background-color: red;
    }
  }

}